{
  //-------------------------------------------------------------
  //
  //en General settings
  //
  //-------------------------------------------------------------

  //en Friendly site name
  friendlySite:                               "fcf-example-planet",

  //en Full Site URL
  site:                                       "http://fcf-example-planet",

  //en Permission to install mirrors on the site
  avalibleMirrors:                            true,

  //en Mail server for sending mail
  mailService:                                "<mailService>",

  //en Sender's Email address
  mailAddress:                                "<email@email.com>",

  //en User of the mail service for sending mail
  mailUser:                                   "<mailuser>",

  //en Password user of the mail service to send mail
  mailPassword:                               "<mail_user_pass>",

  //en Port used when starting via fcfnode. When launched via fsfserver, the parameter specified in the server.json file is used
  port:                                       8080,

  //en Maximum time to send a file
  maxFileSendTime:                            60*60,  // In seconds

  //en Array of projection directories on database tables
  projectionDirectories:                      ["projections"],

  //en Enabled packages
  packages:                                   ["fcfManagement", "fcfSimpleAuthorization"],

  //en Array of additional configuration files
  configs:                                    [],

  //-------------------------------------------------------------
  //
  //en fcfSimpleAuthorization module settings
  //
  //-------------------------------------------------------------

  //en Permission to register users
  fcfSimpleAuthorization_enableRegistration:  false,

  //en Allowing a user to log in by email
  fcfSimpleAuthorization_enableLoginByEmail:  false,

  //-------------------------------------------------------------
  //
  //en Database connection settings
  //
  //-------------------------------------------------------------

  dataClient: {
    defaultConnection: "default",
    connections: {
      default: {
        type: "mysql",
        host: "localhost",
        db:   "fcf-example-planet",
        user: "fcf-example-planet",
        pass: "fcf-example-planet",
      }
    },
  },

  //-------------------------------------------------------------
  //
  //en Router settings
  //
  //-------------------------------------------------------------

  routes:[
    {
      uri:          "",
      controller:   "fcf:NServer/NControllers/Page.js",
      source:       "templates/pages/main-page.tmpl",
      title:        "FCF Application",
      description:  "Main page of the FCF application",
    },
    {
      uri:        "favicon.ico",
      controller: "fcf:NServer/NControllers/File.js",
      source:     "favicon.ico",
    },
    {
      uri:      "/templates/*",
      controller: "fcf:NServer/NControllers/File.js",
      source:     "templates",
    },
    {
      uri:      "/translations/*",
      controller: "fcf:NServer/NControllers/File.js",
      source:     "translations",
    },
    {
      uri:        "robots.txt",
      controller: "fcf:NServer/NControllers/File.js",
      source:     "robots.txt",
    },

  ],
}