.planet-container{
  border: 1px solid #aaa;
  background: linear-gradient(to bottom, #3b2645, #67668f 75%, #201145 100%);
  width: 100%;
  height: 100%;
}

.star-container{
  float:left;
  margin-bottom: -100%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

@keyframes star {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star{
  background: #fff;
  width: 2px;
  height: 2px;
  position: absolute;
  animation: star ease alternate infinite;
}

.planet-sun-container {
  float:left;
  margin-bottom: -100%;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: table;
  vertical-align: middle;
  z-index: 1;
}

.planet-sun-container-item {
  display: table-cell;
  vertical-align: middle;
}

.planet-sun{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgb(241, 255, 44);
  border: 3px solid rgb(255, 245, 110);
}

.planet-earth-container {
  float:left;
  margin-bottom: -100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.planet-earth{
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50px;
  background: linear-gradient(45deg, #1a7c34, #12bc4c);
  border: 3px solid rgb(48 165 68);
}

.planet-controls-container {
  float:left;
  margin-bottom: -100%;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  padding: 8px;
  z-index: 3;
}

.planet-title-control{
  display: inline-block;
  width: 6em;
}

